<h1>Recipe Sharing App</h1>
<a href="/recipes/new">Add New Recipe</a>
<ul>
    <% recipes.forEach(recipe => { %>
        <li>
            <a href="/recipes/<%= recipe._id %>"><%= recipe.title %></a>
            <form action="/recipes/<%= recipe._id %>/delete" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
    <% }); %>
</ul>
